<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
<h1>Weather Data API</h1>
<p>URL Format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>URL Example for one station one date: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
<br>
<p>URL Format: http://127.0.0.1:5000/api/v1/station</p>
<p>URL Example for one station all dates: http://127.0.0.1:5000/api/v1/10</p>
<br>
<p>URL Format: http://127.0.0.1:5000/api/v1/yearly/station/year</p>
<p>URL Example for one station yearly: http://127.0.0.1:5000/api/v1/yearly/10/1988</p>
<br>
<p>{{data|safe}}</p>
</body>
</html>